<div class="container">
  <div class="col-md-6 col-md-offset-3 loginBox">
      <h3>Log In</h3>
      <p *ngIf="message" class="text-center error">{{message}}</p>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group clearfix">
        <label for="userid" class="col-md-3 col-sm-5 col-xs-12">User Name</label>
        <div class="col-md-9 col-sm-7 col-xs-12">
          <input type="text" class="form-control" formControlName="userName" />
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="password" class="col-md-3 col-sm-5 col-xs-12">Password</label>
        <div class="col-md-9 col-sm-7 col-xs-12">
          <input type="password" class="form-control" formControlName="password"/>
        </div>
      </div>
      <div class="col-xs-12 form-group mt-3">
        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Login</button>
      </div>
    </form>

    <br>
    <a [routerLink]="'/registration'">Register</a>
  </div>
</div>
