<div style="height: auto; width: 100%;">
  <p-sidebar position="top" [showCloseIcon]="true" [style]="{'width':'40%'}" [(visible)]="displayLeftSideBar" position="left" [baseZIndex]="9999999" [modal]="false" [showCloseIcon]="false">
    <div class="header">
      <div style="float: right; margin-right: 10%;">
        <button #btn type="button" pButton (click)="menu.toggle($event)"><i class="pi pi-ellipsis-v"></i></button>
        <p-tieredMenu [style]="{'width':'18%'}" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"></p-tieredMenu>
      </div>
      <div>
        <a [routerLink]="'/profile'"><img src="/assets/img_avatar.png" alt="Avatar"></a>
        <p>{{userDetails.userName}}</p>
      </div>
      <div>
        <input id="search" type="text" name="search" placeholder="search name..." class="form-control float-right" [(ngModel)]='search'>
      </div>
    </div>

    <div class="user-list">
      <div *ngFor="let user of users | filter: search">
        <div (click)="openChat(user)">
          <p><img [src]="user.avatar"> {{user.first_name}} {{user.last_name}} {{user.email}}</p>
          <p style="text-align: center;">{{user.message}}</p>
        </div>
      </div>
    </div>
  </p-sidebar>

  <p-sidebar [style]="{'width':'60%'}" [(visible)]="displayRightSideBar" position="right" [modal]="false">
    <legend *ngIf="user">{{user.first_name}} {{user.last_name}}</legend> <br>
    <div #scroll style="height: 80%; overflow: scroll;">
      <p style="text-align: left;" *ngFor="let message of incomingMessages;">{{message}}</p>
      <p style="text-align: right; margin-right: 10px;" *ngFor="let message of outGoingMessages;">{{message}}</p>
      <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
    </div>

    <div style="height: 10%;">
      <button style="background-color: rgb(255, 255, 255);"  (click)="toggleEmojiPicker()">😀</button>
      <input style="width: 90%;" placeholder="Type a message" type="text" (focus)="onFocus()" [(ngModel)]="newMessage">
      <button style="background-color: green;"  type="button" (click)="send()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gr" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
      </button>
    </div>
  </p-sidebar>
</div>
