/* Style the header with a grey background and some padding */
.header {
  background-color: #f1f1f1;
  padding: 20px 10px;
}

img {
  border-radius: 50%;
  height: 10%;
  width: 10%;
}

.user-list {
  max-height: 70%;
  overflow-y: scroll;
}


ul{
  height: 100px;
  width: 200px;
  overflow-y: scroll;
  border: 1px solid #000;
 }
