<div style="height: auto; width: 100%;">
  <p-sidebar position="top" [showCloseIcon]="true" [style]="{'width':'40%'}" [(visible)]="displayLeftSideBar" position="left" [baseZIndex]="9999999" [modal]="false" [showCloseIcon]="false">
    <div class="header">
      <div style="float: right; margin-right: 10%;">
        <button #btn type="button" pButton (click)="menu.toggle($event)"><i class="pi pi-ellipsis-v"></i></button>
        <p-tieredMenu [style]="{'width':'18%'}" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"></p-tieredMenu>
      </div>
      <div>
        <a [routerLink]="'/profile'"><img src="/assets/img_avatar.png" alt="Avatar"></a>
        <p>{{userDetails.userName}}</p>
      </div>
      <div>
        <input id="search" type="text" name="search" placeholder="search name..." class="form-control float-right" [(ngModel)]='search'>
      </div>
    </div>

    <div class="user-list">
      <div *ngFor="let user of users | filter: search">
        <div (click)="openChat(user)">
          <p><img [src]="user.avatar"> {{user.first_name}} {{user.last_name}} {{user.email}}</p>
          <p style="text-align: center;">{{user.message}}</p>
        </div>
      </div>
    </div>
  </p-sidebar>

  <p-sidebar [style]="{'width':'60%'}" [(visible)]="displayRightSideBar" position="right" [modal]="false">
    <legend *ngIf="user">{{user.first_name}} {{user.last_name}}</legend> <br>
    <p style="text-align: right;">Hi...</p>
    <p style="text-align: right;">How are you?</p>
    <input placeholder="Type a message" type="text" (blur)="onBlur()" (focus)="onFocus()" [(ngModel)]="newMessage">
    <button (click)="toggleEmojiPicker()"> 😀</button><br>
    <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
    <button class="btn btn-success mt-3" type="button" (click)="send()">Send</button>
  </p-sidebar>
</div>
