div {
  width: 40%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

a {
  margin-left: 20px;
}

.user-details {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}
